.Container{
    display: flex;
    width: 100%;
    height: 96px;
    justify-content: space-evenly;
    background-color: #1E1E1E;
}
.left{
height: 96px;
width: 30%;
display: flex;
justify-content: space-evenly;
align-items: center;
color: white;
}
.right{
height: 96px;
width: 25%;
display: flex;
justify-content: center;
align-items: center;
color: white;
}
.middle{
height: 96px;
width: 95%;
display: flex;
justify-content: space-evenly;
align-items: center;
color: white;
}
#imagelogo{
    height: 50px;
    width: 50px;
}

#eleMid{
    font-size: 16;
}

#eleMid:hover{
    color: hsl(41, 66%, 48%);
}

#btnRight{
    width: 176px;
    height: 56px;
    font-size: 16px;
    border-radius: 50px;
    background-color: #CA9629;
    border: none;
}

#logoFont{
    font-size: 22px;
    font-weight: bold;
}


.HeadContainer{
    background-color: #1E1E1E;
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 115vh;
}
.LeftHead{
    width: 90%;
    position: relative;
}
#headerCont{
    position: absolute;
    top: 280px;
    font-size: 46px;
    color: #CA9629;
    margin-left: 86px;
    font-weight: bold;
}
.storeBtn{
    width: 186px;
    height: 58px;
    border-radius: 41px;
    background-color: white;
    margin-right: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttonCont{
    position: absolute;
    top: 500px;
    display: flex;
    margin-left: 86px;
    justify-content: left;
}

#downloadLogo{
    width: 24px;
    height: 24px;
}

#downloadtext{
    font-size: 12px;
}
#fromDownload{
    font-size: 16px;
    font-weight: 600;
}
  
.RightHead {
    position: relative;
    width: 100%;
    height: 100%; /* Adjust as needed */
    overflow: hidden;
  }
  .backGrad {
    position: absolute;
    top: 27px;
    left: 205px;
    width: 724px;
    height: 724px;
    background: radial-gradient(circle, rgba(202, 150, 41, 1), rgba(255, 174, 0, 0.4) 10%, rgba(0, 0, 0, 0.75));
    z-index: 1;
    border-radius: 50%;
    opacity: 0.5;
  }
  
  
  
  
  
  #phone {
    position: relative;
    z-index: 2; 
    top: 235px;
    left: 0;
    width: 668px;
    height: 467px;
  }

/* #phone{
    margin-top: 201px;
    width: 668px;
    height: 467px;
} */
/* .RightHead {
    position: relative;
    overflow: hidden;
    width: 100%; 
    height: 100%;
}
  .backGrad{
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(circle, #CA9629, white);
    top: 0;
    left: 35%;
    border-radius: 50%;
    opacity: 0.4; 
  } */

  