.Container {
  display: flex;
  width: 100%;
  height: 96px;
  justify-content: space-evenly;
  background-color: #1e1e1e;
  position: absolute;
}
.left {
  height: 96px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.right {
  height: 96px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 2;
}
.middle {
  height: 96px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
#imagelogo {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

#eleMid {
  font-size: 16px;
}

#eleMid:hover {
  color: hsl(41, 66%, 48%);
}

#btnRight {
  width: 176px;
  height: 56px;
  font-size: 16px;
  border-radius: 50px;
  background-color: #ca9629;
  border: none;
}

#logoFont {
  font-size: 22px;
  font-weight: bold;
}
.logocont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.HeadContainer {
  background-color: #1e1e1e;
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 135vh;
}
.LeftHead {
  width: 100%;
  position: relative;
}
#headerCont {
  position: absolute;
  top: 280px;
  font-size: 46px;
  color: #ca9629;
  margin-left: 86px;
  font-weight: bold;
}
.storeBtn {
  width: 186px;
  height: 58px;
  border-radius: 41px;
  background-color: white;
  margin-right: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttonCont {
  position: absolute;
  top: 500px;
  display: flex;
  margin-left: 86px;
  justify-content: left;
}

#downloadLogo {
  width: 24px;
  height: 24px;
}

#downloadtext {
  font-size: 12px;
}
#fromDownload {
  font-size: 16px;
  font-weight: 600;
}

.RightHead {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.backGrad {
  position: absolute;
  top: 140px;
  left: 300px;
  width: 500px;
  height: 500px;
  background-color: #ca9629;
  z-index: 1;
  border-radius: 50%;
  opacity: 0.5;
  box-shadow: -24px -31px 60px 125px rgba(202, 150, 41, 1);
}

#phone {
  position: relative;
  z-index: 2;
  top: 235px;
  left: 0;
  width: 600px;
  height: 457px;
}

#menuIcon {
  width: 30px;
  height: 30px;
}


@media only screen and (max-width: 760px){
  .HeadContainer {
    background-color: #1e1e1e;
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .LeftHead {
    width: 100%;
    position: relative;
  }
  .RightHead {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #phone {
    position: relative;
    z-index: 2;
    top: 170px;
    left: 0;
    width: 360px;
    height: 250px;
  }

  #headerCont {
    position: absolute;
    top: 200px;
    font-size: 35px;
    color: #ca9629;
    margin-left: 56px;
    font-weight: bold;
  }

  .buttonCont {
    position: absolute;
    top: 370px;
    display: flex;
    margin-left: 56px;
    justify-content: left;
  }

  #downloadLogo {
    width: 18px;
    height: 18px;
  }
  
  #downloadtext {
    font-size: 8px;
  }
  
  .storeBtn {
    width: 156px;
    height: 45px;
    border-radius: 41px;
    background-color: white;
    margin-right: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
  }

  .Container {
    display: flex;
    width: 100%;
    height: 76px;
    justify-content: space-evenly;
    background-color: #1e1e1e;
    position: absolute;
    align-items: center;
  }
  .left {
    height: 96px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .right {
    height: 96px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 2;
  }
  .middle {
    height: 96px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    padding-top: 10px;
  }
  #imagelogo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  #logoFont {
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
  }
  .logocont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #eleMid {
    font-size: 14px;
  }
  #btnRight {
    width: 150px;
    height: 40px;
    font-size: 14px;
    border-radius: 50px;
    background-color: #ca9629;
    border: none;
  }
  .backGrad {
    position: absolute;
    top: 140px;
    left: 185px;
    width: 400px;
    height: 400px;
    background-color: #ca9629;
    z-index: 1;
    border-radius: 50%;
    opacity: 0.6;
    box-shadow: -24px -31px 60px 125px rgba(202, 150, 41, 1);
  }
}
