.bodyCont {
    width: 100%;
    height: 1700px;
    position: relative;
    border-top: 10px solid black;
    background-color: black;
}

.bodyTop {
    width: 100%;
    height: 35%;
    background-color: black;
}

.bodyBottom {
    width: 100%;
    height: 60%;
    background-color: #104845;
    display: flex;
    justify-content: center;
    position: relative;
}

.bodyMiddle {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 954px;
    height: 860px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


.middleBox {
    width: 792px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 32px;
    padding-right: 16px;
}

/* Add styles for the accordion, accordionHeader, and accordionContent as needed */

.accordion {
    border-bottom: 2px solid #CB982A;
    
}

.accordionHeader {
    cursor: pointer;
    padding: 10px;
    font-size: 22px;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: space-between;
}

.accordionContent {
    cursor: pointer;
    padding: 20px 10px 30px 10px;
    font-size: 18px;
    color: white;
}

.accordion.open .accordionHeader {
    color: #CB982A;
}

.accordion.open .accordionContent {
    border-bottom: 1px solid rgb(227, 227, 227);
}

.BottomBox {
    width: 1152px;
    height: 504.32px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.childBottomBox {
    width: 100%;
    height: 308px;
    background-color: #CB982A;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 50px;
}

.secondChildBottomBox {
    width: 450px;
    /* Adjust width as needed */
    height: 700px;
    position: absolute;
    top: -10%;
    right: -2.5%;
    z-index: 1;
    /* Higher z-index to make it overlap childBottomBox */
}

.textContainer {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 178px;
    line-height: 1px;
    justify-content: space-evenly;
}

#bodyFont1 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 15px;
}

#bodyFont2 {
    font-size: 18px;
}

#appleButton {
    width: 210px;
    height: 60px;
    background-color: black;
}

#fontBodyTop {
    color: white;
    text-align: center;
    font-size: 60px;
}

@media only screen and (max-width: 720px) {
    .bodyBottom {
        width: 100%;

    }
    /* .bodyCont{
        width: 100%;
    }
    .bodyTop{
        width: 100%;
    }
    .fontBodyTop{
        width: 100%;
    } */

    #bodyFont1 {
        font-size: 22px;
        font-weight: bold;
        margin-top: 5px;
        justify-content: left;
        align-items: center;

    }

    #bodyFont2 {
        font-size: 15px;
        margin-top: 2px;
        justify-content: left;
        align-items: center;
    }

    .BottomBox {
        width: 100%;
        height: 504.32px;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .secondChildBottomBox {
        width: 300px;
        height: 450px;
        position: absolute;
        top: 10%;
        right: 1%;
        z-index: 1;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 178px;
        line-height: 15px;
        left: 3%;
        position: absolute;
    }

    .childBottomBox {
        width: 100%;
        height: 200px;
        background-color: #CB982A;

    }

    #appleButton {
        width: 150px;
        height: 30px;
        background-color: black;
    }


    .bodyMiddle {
        position: absolute;
        top: 12%;
        background-color: white;
        width: 100%;
        height: 860px;
        border-radius: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .middleBox {
        width: 100%;
        height: 668px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 32px;
        padding-right: 16px;
    }
    .BottomBox {
        width: 100%;
        height: 504.32px;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 480px) {
    .bodyBottom {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    #bodyFont1 {
        font-size: 22px;
        font-weight: bold;
        margin-top: 5px;
        justify-content: left;
        align-items: center;

    }

    #bodyFont2 {
        font-size: 15px;
        margin-top: 2px;
        justify-content: left;
        align-items: center;
    }

    .BottomBox {
        width: 100%;
        height: 504.32px;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .secondChildBottomBox {
        width: 300px;
        height: 450px;
        position: absolute;
        top: 10%;
        left: 50%;
        z-index: 1;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 178px;
        line-height: 15px;
        left: 3%;
        position: absolute;
    }

    .childBottomBox {
        width: 100%;
        height: 200px;
        background-color: #CB982A;

    }

    #appleButton {
        width: 100px;
        height: 30px;
        background-color: black;
    }


    .bodyMiddle {
        position: absolute;
        top: 12%;
        background-color: white;
        width: 500px;
        height: 860px;
        border-radius: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

}
